.App {
  font-family: sans-serif;
}

textarea {
  width: 50%;
  height: 300px;
}

button {
  display: block;
  margin: auto;
}

.cloud {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 600px;
}

.cloud span {
  margin: 1px;
}
